:root {
    --color-background: #ffffff;
    --color-foreground: #141414;
    --color-border: #dcdfe6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #141414;
        --color-foreground: #ffffff;
        --color-border: #4c4d4f;
    }
}
